portpicker
websocket
websocket-client
loguru
gym
# For pettingzoo, ${virtualenvs}/pettingzoo/utils/conversions.py, L126, change to "self.aec_env.reset()"
pettingzoo
numpy>=1.10 
absl-py>=0.1.0
s2clientprotocol>=4.10.1.75800.0
protobuf==3.20.*
pygame==1.9.6
